<!--<h2 mat-dialog-title>Bentar !</h2> -->
<div class="container" mat-dialog-content>
  <p>Buah nangka,
  <br>Buah dukuh ...
  <br>Tak disangka,
  <br>Username atau password yang dimasukkan salah boskuh ...</p>
<!---  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password">
  </mat-form-field>> -->
</div>
<div mat-dialog-actions>
  <button  mat-button (click)="onOk()">Ok</button>
  <!--<button mat-button [mat-dialog-close]="password" cdkFocusInitial>Ok</button> -->
</div>
